<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebKitBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WebKitBrowser.Properties.Settings>
            <setting name="SearchUrlPattern" serializeAs="String">
                <value>http://www.bing.com/search?q={0}</value>
            </setting>
            <setting name="AllowMultiple" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HomePage" serializeAs="String">
                <value>http://www.bing.com</value>
            </setting>
        </WebKitBrowser.Properties.Settings>
    </userSettings>
</configuration>